*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6,
p, 
ul, ol, 
dl, dd, dt,
figure, 
blockquote {
  margin: 0;
  padding: 0;
  font-weight: unset;
}

ul, ol {
    list-style: none;
}
img, 
iframe, 
input, 
textarea, 
button {
  border: none;
}
:root{
    --yl-primary: #FFE976;
    --yl-secondary: #faea98;
    --wt-primary:#FFFEFB;
    --wt-secondary:#fff;
    --tx-primary: #510000;
    --tx-secondary:#2a2a2a;
}

@font-face {
  font-family: 'Acme-Regular';
  src: url('../fonts/Acme-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'BS-Regular';
  src:  url('../fonts/BS-Regular.ttf') format('truetype'), local('Open Sans');
}

.lp-container{
  display: flex;
  width: 100%;
  max-width: 1000px;
}


.titleBloco{
  font-family: 'Acme-Regular';
  font-weight: 500;
  font-size: 42px;
  color: #4a2512;
  text-shadow: 1px 1px 2px var(--tx-secondary);
  margin-bottom: 30px;
}
.show{
  display: flex !important;
}

.fadeInMenu{
  animation: fadeInMenu .2s ease-out forwards;
}
.fadeOutMenu{
  animation: fadeOutMenu .2s ease-out forwards;
}
.inFotoPrincipal{
  animation: inFotoPrincipal 1s ease-in-out forwards;
}

@keyframes fadeInMenu {
  from{
    transform: translateX(242px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeOutMenu {
  from{
    transform: translateX(0px);
    opacity: 1;
  }
  to{
    transform: translateX(242px);
    opacity: 0;
  }
}
@keyframes inFotoPrincipal {
  from{
    opacity: 0;
    transform: translateX(-400px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}