.lp-headerPrincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid var(--tx-secondary);
}
.lp-headerPrincipal .menu-header{
    width: 100%;
    height: 100%;
}
.lp-headerPrincipal .menu-header > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.lp-headerPrincipal .menu-header > ul > li > a{
    text-decoration: none;
    font-family: 'Acme-Regular';
    font-size: 22px;
    color: var(--tx-primary);
    font-weight: 500;
}

.lp-blockTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}
.lp-blockTitle .boxBlockTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.lp-blockTitle .boxBlockTitle .title-imgAgenda a svg{
    width: 70px;
    height: 70px;
}
.lp-blockTitle .boxBlockTitle .title-imgAgenda a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.lp-blockTitle .boxBlockTitle .title-imgAgenda a:visited{
    color: var(--tx-primary);
}
.lp-blockTitle .boxBlockTitle .title-imgAgenda a span{
    color: var(--tx-primary);
    font-family: 'Acme-Regular';
    font-weight: 500;
    font-size: 16px;
}
.lp-blockTitle .boxBlockTitle .titlePage span{
    font-family: 'BS-Regular';
    font-size: 48px;
    font-weight: 400;
}
.lp-blockTitle .boxBlockTitle .titlePage span:nth-child(1){
    color: var(--tx-secondary);
}