@media(max-width:980px) {

    /*HEADER*/
    .lp-headerPrincipal .box-btnMenuMob {
        display: flex;
    }

    .lp-headerPrincipal>.lp-container {
        position: relative;
        justify-content: space-between;
    }

    .lp-headerPrincipal .menu-header {
        display: none;
        position: absolute;
        top: 72px;
        right: -20px;
        width: 200px;
        height: auto;
        padding: 10px 20px 20px 10px;
        border-radius: 0 0 0 20px;
        background-color: #f4ddb4;
    }

    .lp-headerPrincipal .menu-header ul {
        flex-direction: column;
        align-items: end;
        width: 100%;
    }

    .logoPage span {
        font-size: 28px;
    }

    .logoPage img {
        width: 40px;
        height: 40px;
    }

    .title-imgAgenda a span {
        font-size: 14px;
    }

    .title-imgAgenda a svg {
        width: 40px;
        height: 40px;
    }

    /*--------------------------------------------*/
    /*BLOCO PRINCIPAL*/
    .lp-main .box-blocoPrincipal .blocoPrincipal .soUmCafezinho {
        padding: 10px;
    }
}

@media (max-width:840px) {
    .lp-main .box-blocoPrincipal .blocoPrincipal .soUmCafezinho .logoCafezinho img {
        max-width: 124px;
    }

    .lp-main .box-blocoPrincipal .blocoPrincipal .logoCafezinho .text-cafezinho {
        font-size: 24px;
    }
}

@media (max-width:770px) {
    .lp-main .box-biografia .lp-biografia .imgs-biografia {
        flex-direction: column;
    }

    .lp-main .box-biografia .lp-biografia .imgs-biografia .box-imgBiografia:nth-child(2),
    .lp-main .box-biografia .lp-biografia .imgs-biografia .box-imgBiografia:nth-child(4) {
        margin-top: 0;
    }
    .lp-main .box-blocoPrincipal .blocoPrincipal {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .lp-main .box-blocoPrincipal .blocoPrincipal .imgBlocoPrincipal {
        max-height: unset;
        width: 70%;
    }

    .lp-main .box-blocoPrincipal .blocoPrincipal .soUmCafezinho {
        padding: 0 20px;
        align-items: center;
        background-color: #f5f5f5;
        border-radius: 25px 25px 0 0;
        z-index: 1;
    }

    .lp-main .box-blocoPrincipal .blocoPrincipal .soUmCafezinho .logoCafezinho {
        max-width: unset;
        justify-content: center;
    }

    .lp-main .box-blocoPrincipal .blocoPrincipal .soUmCafezinho .logoCafezinho img {
        padding: 10px;
        max-width: 190px;
        border-color: #72bca5;
    }

    .lp-main .box-blocoPrincipal .blocoPrincipal .soUmCafezinho .lp-videoYT {
        min-height: 280px;
    }

    .lp-main .box-blocoPrincipal .blocoPrincipal .soUmCafezinho .lp-videoYT iframe {
        border-color: #72bca5;
    }

    .lp-main .box-blocoPrincipal .blocoPrincipal .soUmCafezinho .link-soUmCafezinho a {
        font-size: 18px;
    }

    .lp-main .box-blocoPrincipal .blocoPrincipal .soUmCafezinho .link-soUmCafezinho a:hover {
        color: #72bca5;
    }
    footer .lp-container span{
        text-align: center;
    }
}

@media (max-width:585px) {
    .logoPage span {
        font-size: 22px;
    }

    .lp-headerPrincipal .menu-header {
        top: 60px;
        width: 115%;
        right: -20px;
        border-radius: 0;
        padding: 20px;
    }

    .lp-headerPrincipal .menu-header ul {
        align-items: center;
    }

    .lp-headerPrincipal .box-btnMenuMob {
        width: 24px;
        height: 24px;
    }

    .lp-headerPrincipal .box-btnMenuMob .lineBtnMob {
        border-width: 1.5px;
    }

    .title-imgAgenda a span {
        font-size: 12px;
    }

    .title-imgAgenda a svg {
        width: 30px;
        height: 30px;
    }

    .lp-headerPrincipal .menu-header>ul>li>a {
        font-size: 16px;
    }

    .lp-main .box-blocoPrincipal .blocoPrincipal .soUmCafezinho .lp-videoYT {
        max-width: 380px;
        min-height: 215px;
    }

    .titleBloco {
        font-size: 38px;
    }

    .lp-main .box-biografia .lp-biografia header>.img-headerBiografia {
        width: 240px;
        height: 240px;
    }
    .lp-main .box-blocoPrincipal .blocoPrincipal .soUmCafezinho .logoCafezinho img{
        max-width: 125px;
    }

    .lp-main .box-blocoPrincipal .blocoPrincipal .logoCafezinho .text-cafezinho {
        font-size: 16px;
        line-height: 20px;
    }

    .lp-main .box-biografia .lp-biografia header>.title-headerBiografia span {
        font-size: 38px;
    }

    .lp-main .box-biografia .lp-biografia header>.title-headerBiografia h3 {
        font-size: 38px;
    }

    .lp-main .box-biografia .lp-biografia header>.title-headerBiografia span:nth-of-type(2) {
        margin-top: 33px;
    }

    .lp-main .box-biografia .lp-biografia .imgs-biografia .box-imgBiografia {
        padding: 2px;
    }
}

@media (max-width:480px) {
    .titleBloco {
        font-size: 32px;
    }

    .lp-main .box-biografia .lp-biografia header>.img-headerBiografia {
        width: 180px;
        height: 160px;
    }

    .lp-main .box-biografia .lp-biografia header {
        gap: 20px;
        align-items: start;
    }

    .lp-main .box-biografia .lp-biografia header>.title-headerBiografia span {
        font-size: 32px;
        margin-top: 20px;
    }

    .lp-main .box-biografia .lp-biografia header>.title-headerBiografia h3 {
        font-size: 32px;
    }

    .lp-main .box-biografia .lp-biografia header>.title-headerBiografia span:nth-of-type(2) {
        margin-top: 23px;
        font-size: 28px;
    }

    .lp-main .box-biografia .lp-biografia .text-biografia {
        font-size: 16px;
        margin-top: 10px;
    }

    .lp-main .box-biografia .lp-biografia {
        margin-top: 20px;
    }

    .lp-main .box-biografia .lp-biografia .imgs-biografia {
        flex-direction: column;
    }

    .lp-main .box-biografia .lp-biografia .imgs-biografia .box-imgBiografia:nth-child(2),
    .lp-main .box-biografia .lp-biografia .imgs-biografia .box-imgBiografia:nth-child(4) {
        margin-top: 0;
    }
    .lp-main .box-redeSocial .lp-redeSocial .lp-iconesRS{
        gap: 20px;
    }
    .lp-main .box-redeSocial .lp-redeSocial .lp-iconesRS .icon-rs{
        max-width: 48px;
    }
    .lp-main .box-redeSocial .lp-redeSocial .link-whatsApp{
        width: 310px;
    }
    .lp-main .box-redeSocial .lp-redeSocial .link-whatsApp span{
        font-size: 14px;
    }
    footer .lp-container span{
        font-size: 14px;
        text-align: center;
    }
}